DEBUG=FALSE

APP_ENV=local
API_PORT=8080
WEB_PORT=5173

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/db_name
SPRING_DATASOURCE_USERNAME=xqt
SPRING_DATASOURCE_PASSWORD=38a1ba65af3599208b327625cec5279c698f

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=replace-me-in-real-env
TENANT_DEFAULT_CODE=xqt
