APP_ENV=local
API_PORT=8080
WEB_PORT=5173

DATABASE_URL=postgres://xqt:38a1ba65af3599208b327625cec5279c698f@localhost:15432/xqt_saas
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:15432/xqt_saas
SPRING_DATASOURCE_USERNAME=xqt
SPRING_DATASOURCE_PASSWORD=38a1ba65af3599208b327625cec5279c698f
REDIS_URL=redis://8.148.227.76:6379/0
REDIS_HOST=8.148.227.76
REDIS_PORT=6379

JWT_SECRET=replace-me-in-real-env
TENANT_DEFAULT_CODE=xqt
